.archive {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive a {
  text-decoration: none;
  color: #757575;
}
.archive a:hover {
  color: #003d79;
}
.archive .post-archive {
  padding: 20px 40px 20px 40px;
}
.archive .post-item {
  list-style-type: none;
  margin: 10px 20px;
}
